/*
 *  Author: Julian Barossi
 *  Description: A program that lets the user play blackjack against the dealer (computer).
 */

import java.util.*;

public class Blackjack {

    private static final Scanner input = new Scanner(System.in);

    private void game(){
        Die die = new Die();
        int HouseTotal = 0, playerTotal = 0;
        boolean houseTurn = true;
        while (true){
            if (houseTurn){
                int valueRolled = die.rollDie();
                HouseTotal += valueRolled;

            }else{
                System.out.println("Player total points are: " + playerTotal);
                System.out.println(" Do you wish to roll the die again? (y/n): ");
                char choice = input.next().charAt(0);
                if (choice == 'N' || choice == 'n') break;
                int valueRolled = die.rollDie();
                playerTotal += valueRolled;
            }
            if ( playerTotal > 21) break;
            houseTurn = !houseTurn;
        }

        System.out.println("House total is: " + HouseTotal);
        System.out.println("Player total is: " + playerTotal);
        if (playerTotal > 21 && HouseTotal <= 21) System.out.println("The House wins.");
        else if (HouseTotal >21 && playerTotal <=21 ) System.out.println("Congratulations you won!");
        else if (HouseTotal > playerTotal && HouseTotal < 21) System.out.println("The House wins.");
        else if (playerTotal > HouseTotal && playerTotal < 21) System.out.println("Congratulations you won!");
        else  if (playerTotal == HouseTotal) System.out.println("Draw.");
        }
    
    public static void main(String args[]){
        Blackjack start = new Blackjack();
        start.game();
    }
}
